In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score

In [2]:
df1=pd.read_csv("RUC_PKU.csv")
df=df1.where((pd.notnull(df1)), '')
df.head(10)

  Category                     Message
0      RUC               RUC MINGDELOU
1      RUC            MINGDELOU Office
2      PKU               PKU WEIMINGHU
3      RUC  YISHAOCHI being small lake
4      PKU    WEIMINGHU being big lake
5      RUC    MINGDELOU WEIMINGHU lake

In [3]:
df.loc[df["Category"] == 'RUC', "Category"]=1
df.loc[df["Category"] == 'PKU', "Category"]=0
df.head(10)

  Category                     Message
0        1               RUC MINGDELOU
1        1            MINGDELOU Office
2        0               PKU WEIMINGHU
3        1  YISHAOCHI being small lake
4        0    WEIMINGHU being big lake
5        1    MINGDELOU WEIMINGHU lake

In [4]:
df_x=df['Message']
df_x.head(10)

0                 RUC MINGDELOU
1              MINGDELOU Office
2                 PKU WEIMINGHU
3    YISHAOCHI being small lake
4      WEIMINGHU being big lake
5      MINGDELOU WEIMINGHU lake
Name: Message, dtype: object

In [5]:

df_y=df['Category']
df_y.head(10)

0    1
1    1
2    0
3    1
4    0
5    1
Name: Category, dtype: object

In [6]:
#x_train, x_test, y_train, y_test=train_test_split(df_x, df_y, test_size=0.2)
x_train = df_x[:5]
x_test=df_x[5:]
print("x_train",x_train)
print("x_test",x_test)

x_train 0                 RUC MINGDELOU
1              MINGDELOU Office
2                 PKU WEIMINGHU
3    YISHAOCHI being small lake
4      WEIMINGHU being big lake
Name: Message, dtype: object
x_test 5    MINGDELOU WEIMINGHU lake
Name: Message, dtype: object

In [7]:

y_train = df_y[:5]
y_test=df_y[5:]
print("y_train",y_train)
print("y_test",y_test)

y_train 0    1
1    1
2    0
3    1
4    0
Name: Category, dtype: object
y_test 5    1
Name: Category, dtype: object

In [8]:
tfvec=TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
x_trainFeat=tfvec.fit_transform(x_train)
x_testFeat=tfvec.transform(x_test)

In [9]:
y_trainGnb=y_train.astype('int')
classifierModel=MultinomialNB()
classifierModel.fit(x_trainFeat, y_trainGnb)
y_pred=classifierModel.predict(x_testFeat)

In [10]:
if y_pred[0]==1:
    print("y_pred","RUC")
else:
    print("y_pred","PKU")

y_pred RUC

In [11]:
y_test=y_test.astype('int')
print("Accuracy Score: {0:.4f}".format(accuracy_score(y_test, y_pred)*100))
print("F1 Score:{0: .4f}".format(f1_score(y_test, y_pred, average='macro')*100))
print("Confusion matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy Score: 100.0000
F1 Score: 100.0000
Confusion matrix:
[[1]]